p {
    color: white;
}

.gitStyle {
    margin: 5px;
    font-weight: bolder;
    color:skyblue;
    font-size: 40px;
}

.projectTag {
    padding: 5px;
    font-weight: bolder;
    color:skyblue;
    font-size: 25px;

}

.skillsTag {
  font-weight:bolder;
  color:skyblue;
  font-size: 20px;

}

.projectImg {
    width: 100%;
    border-radius: 5px;
}

.name {
   font-weight: bold;
   font-size: 2rem;
   margin-left: 10px; 
}

body {
    background-color: #000080;
} 

.cardbackground {
    background-color: #01579b;
}

.aboutMe {
    font-weight: bold;
    color: skyblue;
}

.topPad {
    padding-top: 5rem;
}


.projectContainer {
 border-style: solid;
 border-color: skyblue;
 border-radius: 5px;
}

#aboutMeImg {
    border-radius: 8px;
    max-width: 300px;
    height: auto;
    box-shadow: 5px 5px;
    margin:5%;
}

.hrStyle {
    width:50%;
    text-align:center;
    margin-left:10

}

#recentSkills {
    color:skyblue;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    #aboutMeImg {
      max-width: 200px;
    }
  }


@media only screen and (max-width: 480px) {
    #aboutMeImg {
      max-width: 150px;
    }
  }